<h1>{{title}}</h1>
<p>{{description}}</p>
<p>{{test}}</p>
<form action="/test/send" method="post">
    {{#each q_test as |value key|}}
        <p>{{this.desc}}</p>
        {{#if this.radio }}
            {{#each this.variants as |val1 k1| }}
                <input type="radio" name="rad_{{key}}" value="{{k1}}"> {{this}} <br>
            {{/each}}
        {{/if}}
        {{#if this.input }}
            <input type="text" name="inp_{{key}}"> <br>
        {{/if}}
        {{#if this.check }}
            {{#each this.variants as |check_value check_key|}}
                <input type="checkbox" name="che_{{key}}" value="{{check_key}}"> {{this}} <br>
            {{/each}}
        {{/if}}
    {{/each}}
    <input type="radio" checked name="p_{{s_id}}" value="{{s_id}}" style="display: none;">
    <input type="submit" value="send">
    
</form>
